.vs/
*.user
*.userosscache
*.suo
bin/
obj/
*.exe
*.pdb
*.dll
*.config
*.log
*.cache
*.tmp
*.bak
*.dbmdl
*.jfm
*.ntvs_analysis.dat
*.ntvs_analysis.lock
*.ntvs_analysis.cache
*.ntvs_analysis.json
*.ntvs_analysis.*.json
*.ntvs_analysis.*.cache
*.ntvs_analysis.*.lock
*.ntvs_analysis.*.dat
*.ntvs_analysis.*.pdb
*.ntvs_analysis.*.dll
*.ntvs_analysis.*.exe
